.section#sideFashionNewsList.sideTopics.sidenav
  %header.sidenavHeader
    %h2.sidenavH ファッションまとめ
  .sidenavBody
    %ol.sidenavList
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "/fashionnews/laurierpress/107146/"}
          %span.feedBadge.iconPickup
          %figure.feedFigure
            %span.feedThumbnail
              %img{src: "//img4.zozo.jp/fashionnews/107146/master_130_1.jpg", alt: "LAURIER PRESS（ローリエ プレス）のファッションまとめ「カジュアルガーリーの必須アイテム“バレエシューズ”で春コーデ♡」", width: "68", height: "68" }
          .feedContent
            %span.feedH カジュアルガーリーの必須アイテム“バレエシューズ”で春コーデ♡
            .feedMeta.feedMetaStacked
              %span.feedMetaItem LAURIER PRESS
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "/fashionnews/cbkmagazine/107101/"}
          %span.feedBadge.badgeRank1 1
          %figure.feedFigure
            %img.feedThumbnail{src: "//img4.zozo.jp/fashionnews/107101/master_130_1.jpg", alt: "#CBK magazine（カブキマガジン）のファッションまとめ「春のトレンドブラウスは手に入れた？あたたかくなった今、みんなの着こなしを再チェック♪」ルガーリーの必須アイテム“バレエシューズ”で春コーデ♡」", width: "68", height: "68" }
          .feedContent
            %span.feedH 春のトレンドブラウスは手に入れた？あたたかくなった今、みんなの着..
            .feedMeta.feedMetaStacked
              %span.feedMetaItem #CBK magazine
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "/fashionnews/spring/107141/"}
          %span.feedBadge.badgeRank2 2
          %figure.feedFigure
            %img.feedThumbnail{src: "//img4.zozo.jp/fashionnews/107141/master_130_1.jpg", alt: "SPRiNG（スプリング）のファッションまとめ「おしゃれ度がグッとアガる★「ヴィンテージライク」のチョイ足しテクを伝授！」", width: "68", height: "68" }
          .feedContent
            %span.feedH おしゃれ度がグッとアガる★「ヴィンテージライク」のチョイ足しテク
            .feedMeta.feedMetaStacked
              %span.feedMetaItem #CBK magazine
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "/fashionnews/laurierpress/107146/"}
          %span.feedBadge.badgeRank3 3
          %figure.feedFigure
            %img.feedThumbnail{src: "//img4.zozo.jp/fashionnews/107146/master_130_1.jpg", alt: "LAURIER PRESS（ローリエ プレス）のファッションまとめ「カジュアルガーリーの必須アイテム“バレエシューズ”で春コーデ♡」", width: "68", height: "68" }
          .feedContent
            %span.feedH カジュアルガーリーの必須アイテム“バレエシューズ”で春コーデ♡
            .feedMeta.feedMetaStacked
              %span.feedMetaItem LAURIER PRESS
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "/fashionnews/cbkmagazine/107101/"}
          %span.feedBadge.badgeRank4 4
          %figure.feedFigure
            %img.feedThumbnail{src: "//img4.zozo.jp/fashionnews/107101/master_130_1.jpg", alt: "#CBK magazine（カブキマガジン）のファッションまとめ「春のトレンドブラウスは手に入れた？あたたかくなった今、みんなの着こなしを再チェック♪」ルガーリーの必須アイテム“バレエシューズ”で春コーデ♡」", width: "68", height: "68" }
          .feedContent
            %span.feedH 春のトレンドブラウスは手に入れた？あたたかくなった今、みんなの着..
            .feedMeta.feedMetaStacked
              %span.feedMetaItem #CBK magazine
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "/fashionnews/spring/107141/"}
          %span.feedBadge.badgeRank5 5
          %figure.feedFigure
            %img.feedThumbnail{src: "//img4.zozo.jp/fashionnews/107141/master_130_1.jpg", alt: "SPRiNG（スプリング）のファッションまとめ「おしゃれ度がグッとアガる★「ヴィンテージライク」のチョイ足しテクを伝授！」", width: "68", height: "68" }
          .feedContent
            %span.feedH おしゃれ度がグッとアガる★「ヴィンテージライク」のチョイ足しテク
            .feedMeta.feedMetaStacked
              %span.feedMetaItem #CBK magazine
    .loader
      /後ほど使用？ {data-widget: "ranking"}
    .sidenavMore
      %p.more
        %a{href: "/fashionnews/"} ファッションまとめ一覧
