.section#sideTopicsList.sideTopics.sidenav
  %header.sidenavHeader
    %h2.sidenavH ショップニュース
  .sidenavBody
    %ol.sidenavBody
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "/search/?p_tpcsid=691976"}
          %span.feedBadge.badgeXs.badgeRank1 1
          %figure.feedFigure
            %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/786/691976.jpg", alt: "Ungrid(アングリッド)のトピックス｢【今回も盛りだくさん！】ZOZOTOWN限定￥1,000OFFクーポン！｣"}
          .feedContent
            .feedMeta.feedMetaPrimary.feedMetaStacked
              %span.feedMetaItem Ungrid
            %span.feedH【今回も盛りだくさん！】ZOZOTOWN限定￥1,000OFFクーポン！
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "/search/?p_tpcsid=691976"}
          %span.feedBadge.badgeXs.badgeRank2 2
          %figure.feedFigure
            %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/19/695189.jpg", alt: "ZOZOPHAGGE(ゾゾファッジ)のトピックス｢【KiiRA】18-19 Fall/Winter 予約会♪｣"}
          .feedContent
            .feedMeta.feedMetaPrimary.feedMetaStacked
              %span.feedMetaItem ZOZOPHAGGE
            %span.feedH【KiiRA】18-19 Fall/Winter 予約会♪
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "?c=gr&amp;gid=29864543&amp;p_tpcsid=634266&amp;rid=6342666"}
          %span.feedBadge.badgeXs.badgeRank3 3
          %figure.feedFigure
            %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/68/634266.jpg", alt: "SHIPS(シップス)のトピックス｢COOLMAX(R)装備の定番ピケジャケットが登場！｣"}
          .feedContent
            .feedMeta.feedMetaPrimary.feedMetaStacked
              %span.feedMetaItem SHIPS
            %span.feedH COOLMAX(R)装備の定番ピケジャケットが登場！
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "/search/?p_tpcsid=691976"}
          %span.feedBadge.badgeXs.badgeRank4 4
          %figure.feedFigure
            %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/786/691976.jpg", alt: "Ungrid(アングリッド)のトピックス｢【今回も盛りだくさん！】ZOZOTOWN限定￥1,000OFFクーポン！｣"}
          .feedContent
            .feedMeta.feedMetaPrimary.feedMetaStacked
              %span.feedMetaItem Ungrid
            %span.feedH【今回も盛りだくさん！】ZOZOTOWN限定￥1,000OFFクーポン！
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "/search/?p_tpcsid=691976"}
          %span.feedBadge.badgeXs.badgeRank5 5
          %figure.feedFigure
            %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/19/695189.jpg", alt: "ZOZOPHAGGE(ゾゾファッジ)のトピックス｢【KiiRA】18-19 Fall/Winter 予約会♪｣"}
          .feedContent
            .feedMeta.feedMetaPrimary.feedMetaStacked
              %span.feedMetaItem ZOZOPHAGGE
            %span.feedH【KiiRA】18-19 Fall/Winter 予約会♪
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "?c=gr&amp;gid=29864543&amp;p_tpcsid=634266&amp;rid=6342666"}
          %span.feedBadge.badgeXs.badgeRank6 6
          %figure.feedFigure
            %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/68/634266.jpg", alt: "SHIPS(シップス)のトピックス｢COOLMAX(R)装備の定番ピケジャケットが登場！｣"}
          .feedContent
            .feedMeta.feedMetaPrimary.feedMetaStacked
              %span.feedMetaItem SHIPS
            %span.feedH COOLMAX(R)装備の定番ピケジャケットが登場！
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "?c=gr&amp;gid=29864543&amp;p_tpcsid=634266&amp;rid=6342666"}
          %span.feedBadge.badgeXs.badgeRank7 7
          %figure.feedFigure
            %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/68/634266.jpg", alt: "SHIPS(シップス)のトピックス｢COOLMAX(R)装備の定番ピケジャケットが登場！｣"}
          .feedContent
            .feedMeta.feedMetaPrimary.feedMetaStacked
              %span.feedMetaItem SHIPS
            %span.feedH COOLMAX(R)装備の定番ピケジャケットが登場！
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "/search/?p_tpcsid=691976"}
          %span.feedBadge.badgeXs.badgeRank8 8
          %figure.feedFigure
            %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/786/691976.jpg", alt: "Ungrid(アングリッド)のトピックス｢【今回も盛りだくさん！】ZOZOTOWN限定￥1,000OFFクーポン！｣"}
          .feedContent
            .feedMeta.feedMetaPrimary.feedMetaStacked
              %span.feedMetaItem Ungrid
            %span.feedH【今回も盛りだくさん！】ZOZOTOWN限定￥1,000OFFクーポン！
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "/search/?p_tpcsid=691976"}
          %span.feedBadge.badgeXs.badgeRank9 9
          %figure.feedFigure
            %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/19/695189.jpg", alt: "ZOZOPHAGGE(ゾゾファッジ)のトピックス｢【KiiRA】18-19 Fall/Winter 予約会♪｣"}
          .feedContent
            .feedMeta.feedMetaPrimary.feedMetaStacked
              %span.feedMetaItem ZOZOPHAGGE
            %span.feedH【KiiRA】18-19 Fall/Winter 予約会♪
      %li.sidenavItem.feedMedia.feedMediaXs
        %a.feedLink{href: "?c=gr&amp;gid=29864543&amp;p_tpcsid=634266&amp;rid=6342666"}
          %span.feedBadge.badgeXs.badgeRank10 10
          %figure.feedFigure
            %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/68/634266.jpg", alt: "SHIPS(シップス)のトピックス｢COOLMAX(R)装備の定番ピケジャケットが登場！｣"}
          .feedContent
            .feedMeta.feedMetaPrimary.feedMetaStacked
              %span.feedMetaItem SHIPS
            %span.feedH COOLMAX(R)装備の定番ピケジャケットが登場！
    .sidenavMore
      %a.sidenavMoreLink{href: "/topics/"} ショップニュース一覧
