#rightContentMain.cf
  .section#idxCouponItem
    .sectionHeader.cf.lined
      %h2 クーポン対象アイテム
    #couponItem.clearfix.id10519{style: "display: block;"}
      %ul.rankingList.cf
        %li.rank1
          .listInner.cf
            .photo
              %a{href: "/shop/femindtokyo/goods/24694411/?did=45428454&amp;rid=1093"}
                %img{src: "//s3-ap-northeast-1.amazonaws.com/y-s-upload-test/uploads/message/image/10/illustrain02.png", alt: "FEMIND TOKYO(フェマイントウキョウ)のFEMIND TOKYOトートバッグ(トートバッグ)", width: "171", height: "205" }
              .feed-tag-group
                .feed-tag-group-item
                  %span.feed-tag.feed-tag-coupon.coupon_H3 ¥2,000クーポン
            %p.label FEMIND TOKYO
            %p.price.discount
              ¥4,860
              %span.tax 税込
              %span.off (10%OFF)
        %li.rank2
          .listInner.cf
            .photo
              %a{href: "/shop/bannerbarrett/goods/28442191/?did=50713514&rid=1093"}
                %img{src: "//img5.zozo.jp/goodsimages/191/29442191/29442191B_35_D_215.jpg", alt: "BANNER BARRETT(バナーバレット)のBACKRIBBON OVERALLS/バックリボンオールインワン(つなぎ/オールインワン)", width: "171", height: "205" }
              .feed-tag-group
                .feed-tag-group-item
                  %span.feed-tag.feed-tag-coupon.coupon_H3 ¥2,000クーポン
            %p.label BANNER BARRETT
            %p.price
              ¥15,120
              %span.tax 税込
        %li.rank3
          .listInner.cf
            .photo
              %a{href: "/shop/nnaturalbeautybasic/goods/29647387/?did=52979605&amp;rid=1093"}
                %img{src: "//img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_215.jpg", alt: "N. Natural Beauty Basic(エヌ ナチュラル ビューティ ベーシック)の◆アゼノースリーブVネックニット(ニット/セーター)", width: "171", height: "205" }
              .feed-tag-group
                .feed-tag-group-item
                  %span.feed-tag.feed-tag-coupon.coupon_H3 ¥2,000クーポン
            %p.label N.（N. Natural Beauty Basic)
            %p.price
              ¥6,048
              %span.tax 税込
        %li.rank4
          .listInner.cf
            .photo
              %a{href: "/shop/nnaturalbeautybasic/goods/29960907/?did=52978726&amp;rid=1093"}
                %img{src: "//img5.zozo.jp/goodsimages/907/30960907/30960907B_8_D_215.jpg", alt: "N. Natural Beauty Basic(エヌ ナチュラル ビューティ ベーシック)の◆あぜ編みタンクトップ(その他トップス)", width: "125", height: "150" }
              .feed-tag-group
                .feed-tag-group-item
                  %span.feed-tag.feed-tag-coupon.coupon_H3 ¥2,000クーポン
            %p.label BANNER BARRETT
            %p.price
              ¥6,372
              %span.tax 税込
        %li.rank5
          .listInner.cf
            .photo
              %a{href: "/shop/whoswhogallery/goods/27525168/?did=49340562&amp;rid=1093"}
                %img{src: "//img5.zozo.jp/goodsimages/168/28525168/28525168_15_D_215.jpg", alt: "WHO'S WHO gallery MEN'S(フーズフーギャラリー メンズ)のラインバスケパンツ(パンツ)", width: "125", height: "150" }
              .feed-tag-group
                .feed-tag-group-item
                  %span.feed-tag.feed-tag-coupon.coupon_H3 ¥2,000クーポン
            %p.label WHO'S WHO gallery
            %p.price
              ¥5,292
              %span.tax 税込
        %li.rank6
          .listInner.cf
            .photo
              %a{href: "/shop/whoswhogallery/goods/29820040/?did=52792613&amp;rid=1093"}
                %img{src: "//img5.zozo.jp/goodsimages/040/30820040/30820040B_1_D_215.jpg", alt: "WHO'S WHO gallery LADY'S(フーズフーギャラリー レディース)のリンガーBIG TEE(Tシャツ/カットソー)", width: "125", height: "150" }
              .feed-tag-group
                .feed-tag-group-item
                  %span.feed-tag.feed-tag-coupon.coupon_H3 ¥2,000クーポン
            %p.label WHO'S WHO gallery
            %p.price
              ¥4,860
              %span.tax 税込
        %li.rank7
          .listInner.cf
            .photo
              %a{href: "/shop/nnaturalbeautybasic/goods/27916855/?did=49912669&amp;rid=1093"}
                %img{src: "//img5.zozo.jp/goodsimages/855/28916855/28916855B_26_D_215.jpg", alt: "N. Natural Beauty Basic(エヌ ナチュラル ビューティ ベーシック)の◆ストレッチギャバフレアミモレスカート(スカート)", width: "125", height: "150" }
              .feed-tag-group
                .feed-tag-group-item
                  %span.feed-tag.feed-tag-coupon.coupon_H3 ¥2,000クーポン
            %p.label N.（N. Natural Beauty Basic)
            %p.price
              ¥9,720
              %span.tax 税込
    %p.more
      %a{href: "_search/?c=UnitShopSearch&amp;cptypeid=10519"} クーポン対象アイテム一覧
  .section#idxRankingItem
    #rankingHeader.cf.lined.sectionHeader
      %h2 人気アイテムランキング
    #rankingItem.loaded
      %ul.rankingList.cf
        %li.rank1
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet1 1
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "171", height: "205"}
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank2
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet2 2
            .photo
              %a.photoLink{href: "/?c=gr&amp;did=49920117&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/323/28918323/28918323B_8_D_215.jpg", alt: "Discoat Parisien(ディスコートパリシアン)の【WEB限定】ドットハイネックブラウス5分袖(シャツ/ブラウス)", width: "171", height: "205"}
              .feed-tag-group
            %p.label Discoat Parisien
            %p.price.discount
              ¥3,132
              %span.tax 税込
              %span.off 22%OFF
        %li.rank3
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet3 3
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=52521907&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/925/30645925/30645925_8_D_215.jpg", alt: "BEAUTY&amp;YOUTH UNITED ARROWS(ビューティアンドユースユナイテッドアローズ)の【予約】【WEB限定】by ※ベルト付きカットソーマキシワンピース(ワンピース)", width: "171", height: "205"}
              .feed-tag-group
            %p.label BEAUTY&amp;YOUTH UNITED ARROWS
            %p.price
              ¥10,260
              %span.tax 税込
        %li.rank4
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet4 4
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank5
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet5 5
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank6
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet6 6
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank7
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet7 7
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank8
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet8 8
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank9
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet9 9
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank10
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet10 10
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank11
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet11 11
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank12
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet12 12
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax
        %li.rank13
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet13 13
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank14
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet14 14
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank15
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet15 15
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank16
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet16 16
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank17
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet17 17
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank18
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet18 18
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank19
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet19 19
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank20
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet20 20
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank21
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet21 21
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank22
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet22 22
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
        %li.rank23
          .listInner.cf
            %p.rank.cf
              %span.iconSet.iconSet23 23
            .photo
              %a.photoLink{ href: "/?c=gr&amp;did=47063444&amp;rid=1003"}
              %img.feed-tag-group{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO(ゾゾ)のZOZOSUIT(採寸ボディースーツ)", width: "125", height: "150"}
            %p.price
              .feed-tag-group
            %p.label ZOZO
            %p.price
              ¥0
              %span.tax 税込
    %p.more
      %a{href: "/ranking/all-sales.html"} ランキング一覧
  .section#coordinate
    .sectionHeader.cf.lined
      %h2
      コーディネート
      %span powered by
      %a.ico_wear{href: "http://wear.jp/", target: "_blank"} WEAR
    #codWrapper.wrapper
      %ol#codList.coordinatelist.rankingList.clearfix{style: "display: block;"}
        %li.mainList
          .visual
            %p.rank.clearfix
              %span.iconSet.iconSet1 1
            %p.mainImg
              %a{href: "http://zozo.jp/coordinate/?cdid=11978829"}
                %img.imgCompleat{alt: "Discoat Parisien|YUURIさんのシャツ/ブラウス「【WEB限定】ドットハイネックブラウス5分袖(Discoat Parisien|ディスコートパリシアン)」を使ったコーディネート", height: "258", src: "http://cdn.wimg.jp/coordinate/qc8lpf/20180310154051546/20180310154051546_276.jpg"}
                %span.codOverlay
            .items
              .currentItem
                .item
                  %a{href: "http://zozo.jp/?c=gr&did=49920114&rid=111978829"}
                    %dl.clearfix
                      %dt シャツ/ブラウス
                      %dd.price
                        ¥3,132
                        %span.tax 税込
                      %dd.itemImg
                        %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/323/28918323/28918323B_20_D_35.jpg", alt: "シャツ/ブラウス", width: "35", height: "42"}/
          .data
            %p
              %a{href: "coordinate/shop/discoat/"} Discoat Parisien
        %li.mainList
          .visual
            %p.rank.clearfix
              %span.iconSet.iconSet2 2
            %p.mainImg
              %a{href: "http://zozo.jp/coordinate/?cdid=11948285"}
                %img.imgCompleat{src: "http://cdn.wimg.jp/coordinate/pyshux/20180306100424229/20180306100424229_276.jpg", alt: "とっしーさんのチェスターコート「LINEN×COTTONストレッチオーバーサイズチェスターコート(EMMA CLOTHES|エマ クローズ)」を使ったコーディネート", height: "258" }
                %span.codOverlay
            .items
              .currentItem
                .item
                  %a{href: "http://zozo.jp/?c=gr&amp;did=50134283&amp;rid=111948285"}
                    %dl.clearfix
                      %dt チェスターコートAAAAAAAAAA
                      %dd.price
                        ¥8,294
                        %span.tax 税込
                      %dd.itemImg
                        %img.imgCompleat{alt: "チェスターコート", src: "http://img5.zozo.jp/goodsimages/872/29080872/29080872B_14_D_35.jpg", width: "35", height: "42"}/
          .data
            %p
              %a{href: "coordinate/shop/discoat/"} WEARISTA
        %li.mainList
          .visual
            %p.rank.clearfix
              %span.iconSet.iconSet3 3
            %p.mainImg
              %a{href: "//zozo.jp/coordinate/?cdid=11732260"}
                %img.imgCompleat{src: "http://cdn.wimg.jp/coordinate/77vhew/20180130105528478/20180130105528478_276.jpg", alt: "The DUFFER of St.GEORGE|JEEさんのナイロンジャケット「〔BLACK LABEL〕NYLON PARKA：2.5層ナイロンストレッチツイル ジップアップパーカー (The DUFFER of ST.GEORGE|ザダファーオブセントジョージ)」を使ったコーディネー", height: "258" }
                %span.codOverlay
            .items
              .currentItem
                .item
                  %a{href: "ttp://zozo.jp/?c=gr&amp;did=48016953&amp;rid=111732260"}
                    %dl.clearfix
                      %dt パンツ
                      %dd.price
                        ¥11,880
                        %span.tax 税込
                      %dd.itemImg
                        %img.imgCompleat{alt: "パンツ", src: "http://img5.zozo.jp/goodsimages/916/27486916/27486916B_46_D_35.jpg", width: "35", height: "42"}/
          .data
            %p
              %a{href: "#{}"} The DUFFER of St.GEORGE
        %li.mainList
          .visual
            %p.rank.clearfix
              %span.iconSet.iconSet4 4
            %p.mainImg
              %a{href: "http://zozo.jp/coordinate/?cdid=11978829"}
                %img.imgCompleat{alt: "Discoat Parisien|YUURIさんのシャツ/ブラウス「【WEB限定】ドットハイネックブラウス5分袖(Discoat Parisien|ディスコートパリシアン)」を使ったコーディネート", height: "258", src: "http://cdn.wimg.jp/coordinate/qc8lpf/20180310154051546/20180310154051546_276.jpg"}
                %span.codOverlay
            .items
              .currentItem
                .item
                  %a{href: "http://zozo.jp/?c=gr&did=49920114&rid=111978829"}
                    %dl.clearfix
                      %dt シャツ/ブラウス
                      %dd.price
                        ¥3,132
                        %span.tax 税込
                      %dd.itemImg
                        %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/323/28918323/28918323B_20_D_35.jpg", alt: "シャツ/ブラウス", width: "35", height: "42"}/
          .data
            %p
              %a{href: "coordinate/shop/discoat/"} Discoat Parisien
        %li.mainList
          .visual
            %p.rank.clearfix
              %span.iconSet.iconSet5 5
            %p.mainImg
              %a{href: "http://zozo.jp/coordinate/?cdid=11948285"}
                %img.imgCompleat{src: "http://cdn.wimg.jp/coordinate/pyshux/20180306100424229/20180306100424229_276.jpg", alt: "とっしーさんのチェスターコート「LINEN×COTTONストレッチオーバーサイズチェスターコート(EMMA CLOTHES|エマ クローズ)」を使ったコーディネート", height: "258" }
                %span.codOverlay
            .items
              .currentItem
                .item
                  %a{href: "http://zozo.jp/?c=gr&amp;did=50134283&amp;rid=111948285"}
                    %dl.clearfix
                      %dt チェスターコート
                      %dd.price.discount
                        ¥8,294
                        %span.tax 税込
                      %dd.itemImg
                        %img.imgCompleat{alt: "チェスターコート", src: "http://img5.zozo.jp/goodsimages/872/29080872/29080872B_14_D_35.jpg", width: "35", height: "42"}/
          .data
            %p
              %a{href: "coordinate/shop/discoat/"} WEARISTA
        %li.mainList
          .visual
            %p.rank.clearfix
              %span.iconSet.iconSet6 6
            %p.mainImg
              %a{href: "//zozo.jp/coordinate/?cdid=11732260"}
                %img.imgCompleat{src: "http://cdn.wimg.jp/coordinate/77vhew/20180130105528478/20180130105528478_276.jpg", alt: "The DUFFER of St.GEORGE|JEEさんのナイロンジャケット「〔BLACK LABEL〕NYLON PARKA：2.5層ナイロンストレッチツイル ジップアップパーカー (The DUFFER of ST.GEORGE|ザダファーオブセントジョージ)」を使ったコーディネー", height: "258" }
                %span.codOverlay
            .items
              .currentItem
                .item
                  %a{href: "ttp://zozo.jp/?c=gr&amp;did=48016953&amp;rid=111732260"}
                    %dl.clearfix
                      %dt パンツ
                      %dd.price
                        ¥11,880
                        %span.tax 税込
                      %dd.itemImg
                        %img.imgCompleat{alt: "パンツ", src: "http://img5.zozo.jp/goodsimages/916/27486916/27486916B_46_D_35.jpg", width: "35", height: "42"}/
          .data
            %p
              %a{href: "#{}"} The DUFFER of St.GEORGE
    %ul.more.cf
      %li.rankingBtn
        %a{href: "/coordinate/ranking/?c=SwitchType&amp;ts=0"} コーディネートランキング
      %li.coordinateBtn
        %a{href: "/coordinate/"} コーディネート一覧
  .section#pickupItems
    .sectionHeader.cf
      %h2 チェックしたアイテム
    #pickupItem.pickupList.cf{style: "opacity: 1;"}
      %ul.cf
        %li
          %a{href: "/?c=gr&amp;gid=28441646&amp;rid=1006"}
            %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/646/29441646/29441646B_18_D_215.jpg", alt: "Narcissus（ナルシス）の「【cheap!!by vaNite】ストライプ切替トップス（シャツ/ブラウス）」", width: "70", height: "84"}
          %p.price
            ¥9,612
            %span.tax 税込
        %li
          %a{href: "/?c=gr&amp;gid=12084989&amp;rid=1006"}
            %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/989/13084989/13084989B_16_D_215.jpg", alt: "C.R.E.A.M（クリーム）の「平子理沙×2018大人浴衣セット 紺 紺地【浴衣＋帯 平帯＋下駄＋その他 8点セット】（着物/浴衣）」", width: "70", height: "84"}
          %p.price
            ¥19,801
            %span.tax 税込
        %li
          %a{href: "/?c=gr&amp;gid=21399060&amp;rid=1006"}
            %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/060/22399060/22399060B_8_D_215.jpg", alt: "TopIsm（トップイズム）の「ストレッチ チノ スキニーパンツ（チノパンツ）」", width: "70", height: "84"}
          %p.price.discount
            ¥1,998
            %span.tax 税込
            %span.off 26%OFF
        %li
          %a{href: "/?c=gr&amp;gid=28442191&amp;rid=1006"}
            %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/191/29442191/29442191B_35_D_215.jpg", alt: "BANNER BARRETT（バナーバレット）の「BACKRIBBON OVERALLS/バックリボンオールインワン（つなぎ/オールインワン）」", width: "70", height: "84"}
          %p.price
            ¥15,120
            %span.tax 税込
        %li
          %a{href: "/?c=gr&amp;gid=26739935&amp;rid=1006"}
            %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/935/27739935/27739935_8_D_215.jpg", alt: "ATTACHMENT（アタッチメント）の古着「7分袖Tシャツ（Tシャツ/カットソー）」", width: "70", height: "84"}
          %p.price.discount
            ¥15,120
            %span.tax 税込
            %span.off 60%OFF
        %li
          %a{href: "/?c=gr&amp;gid=25782997&amp;rid=1006"}
            %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO（ゾゾ）の「ZOZOSUIT（採寸ボディースーツ）」", width: "70", height: "84"}
          %p.price
            ¥0
            %span.tax 税込
        %li
          %a{href: "/?c=gr&amp;gid=25782997&amp;rid=1006"}
            %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO（ゾゾ）の「ZOZOSUIT（採寸ボディースーツ）」", width: "70", height: "84"}
          %p.price
            ¥0
            %span.tax 税込
      %ul.cf
        %li
          %a{href: "/?c=gr&amp;gid=28441646&amp;rid=1006"}
            %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/646/29441646/29441646B_18_D_215.jpg", alt: "Narcissus（ナルシス）の「【cheap!!by vaNite】ストライプ切替トップス（シャツ/ブラウス）」", width: "70", height: "84"}
          %p.price
            ¥9,612
            %span.tax 税込
        %li
          %a{href: "/?c=gr&amp;gid=12084989&amp;rid=1006"}
            %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/989/13084989/13084989B_16_D_215.jpg", alt: "C.R.E.A.M（クリーム）の「平子理沙×2018大人浴衣セット 紺 紺地【浴衣＋帯 平帯＋下駄＋その他 8点セット】（着物/浴衣）」", width: "70", height: "84"}
          %p.price
            ¥19,801
            %span.tax 税込
        %li
          %a{href: "/?c=gr&amp;gid=21399060&amp;rid=1006"}
            %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/060/22399060/22399060B_8_D_215.jpg", alt: "TopIsm（トップイズム）の「ストレッチ チノ スキニーパンツ（チノパンツ）」", width: "70", height: "84"}
          %p.price.discount
            ¥1,998
            %span.tax 税込
            %span.off 26%OFF
        %li
          %a{href: "/?c=gr&amp;gid=28442191&amp;rid=1006"}
            %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/191/29442191/29442191B_35_D_215.jpg", alt: "BANNER BARRETT（バナーバレット）の「BACKRIBBON OVERALLS/バックリボンオールインワン（つなぎ/オールインワン）」", width: "70", height: "84"}
          %p.price.discount
            ¥15,120
            %span.tax 税込
        %li
          %a{href: "/?c=gr&amp;gid=26739935&amp;rid=1006"}
            %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/935/27739935/27739935_8_D_215.jpg", alt: "ATTACHMENT（アタッチメント）の古着「7分袖Tシャツ（Tシャツ/カットソー）」", width: "70", height: "84"}
          %p.price
            ¥15,120
            %span.tax 税込
            %span.off 60%OFF
        %li
          %a{href: "/?c=gr&amp;gid=25782997&amp;rid=1006"}
            %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO（ゾゾ）の「ZOZOSUIT（採寸ボディースーツ）」", width: "70", height: "84"}
          %p.price
            ¥0
            %span.tax 税込
        %li
          %a{href: "/?c=gr&amp;gid=25782997&amp;rid=1006"}
            %img.imgCompleat{src: "http://img5.zozo.jp/goodsimages/997/26782997/26782997_8_D_215.jpg", alt: "ZOZO（ゾゾ）の「ZOZOSUIT（採寸ボディースーツ）」", width: "70", height: "84"}
          %p.price
            ¥0
            %span.tax 税込
      %ul.cf
  .section#pickupShops.picup.cf
    .sectionHeader.cf
      %h2 チェックしたショップ
    #pickupShop.pickupList.cf
      %ul.cf
        %li
          %a{href: "/shop/topism/?p_no=1"}
            %img.imgCompleat{src: "http://img4.zozo.jp/common/shop/shop_1887.jpg", alt: "TopIsm", width: "70", height: "71"}
        %li
          %a{href: "/shop/narcissus/?p_no=1"}
            %img.imgCompleat{src: "http://img4.zozo.jp/common/shop/shop_1420.jpg", alt: "Narcissus", width: "70", height: "71"}
        %li
          %a{href: "/shop/adidas/?p_no=1"}
            %img.imgCompleat{src: "http://img4.zozo.jp/common/shop/shop_316.jpg", alt: "adidas", width: "70", height: "71"}
        %li
          %a{href: "/shop/topism/?p_no=1"}
            %img.imgCompleat{src: "http://img4.zozo.jp/common/shop/shop_1887.jpg", alt: "TopIsm", width: "70", height: "71"}
        %li
          %a{href: "/shop/narcissus/?p_no=1"}
            %img.imgCompleat{src: "http://img4.zozo.jp/common/shop/shop_1420.jpg", alt: "Narcissus", width: "70", height: "71"}
        %li
          %a{href: "/shop/adidas/?p_no=1"}
            %img.imgCompleat{src: "http://img4.zozo.jp/common/shop/shop_316.jpg", alt: "adidas", width: "70", height: "71"}
        %li
          %a{href: "/shop/topism/?p_no=1"}
            %img.imgCompleat{src: "http://img4.zozo.jp/common/shop/shop_1887.jpg", alt: "TopIsm", width: "70", height: "71"}
        %li
          %a{href: "/shop/narcissus/?p_no=1"}
            %img.imgCompleat{src: "http://img4.zozo.jp/common/shop/shop_1420.jpg", alt: "Narcissus", width: "70", height: "71"}
        %li
          %a{href: "/shop/adidas/?p_no=1"}
            %img.imgCompleat{src: "http://img4.zozo.jp/common/shop/shop_316.jpg", alt: "adidas", width: "70", height: "71"}
        %li
          %a{href: "/shop/topism/?p_no=1"}
            %img.imgCompleat{src: "http://img4.zozo.jp/common/shop/shop_1887.jpg", alt: "TopIsm", width: "70", height: "71"}
        %li
          %a{href: "/shop/narcissus/?p_no=1"}
            %img.imgCompleat{src: "http://img4.zozo.jp/common/shop/shop_1420.jpg", alt: "Narcissus", width: "70", height: "71"}
        %li
          %a{href: "/shop/adidas/?p_no=1"}
            %img.imgCompleat{src: "http://img4.zozo.jp/common/shop/shop_316.jpg", alt: "adidas", width: "70", height: "71"}
  .section#about.pickup
    .sectionHeader.cf
      %h2 ZOZOTOWNの紹介
    .txt
      %p ZOZOTOWNではトップス・パンツ・ワンピースなど最新トレンドアイテムをオンラインでご購入いただけます。ZOZOは6518ブランドの人気アイテムを公式に取扱うファッション通販サイトです！
      %ul.cf
        %li
          %a{href: "http://zozo.jp/welcome/default.html"} ZOZOTOWNお買いものガイド
        %li
          %a{href: "https://zozo.jp/_member/regist/"} 会員登録はこちらから
        %li
          %a{href: "https://zozo.jp/_mail/"} メールマガジン購読
#rightContentSub
  #sideBanner
    .sideBannerItem
      %a{href: "/search/?price=sale&p_disc=10&p_gtagid=551693"}
        %img{src: "//img4.zozo.jp/pc/_news/timesale/20180412/bnr_home_open.png", alt: "春物タイムセールMAX60%OFF 15日(日)24時まで"}

    .sideBannerItem
      %a{href: "/teikibin/"}
        %img{src: "//img4.zozo.jp/pc/pb/img/banner/teikibin_busbanner.jpg", alt: "あなたに似合う服をZOZOが選びます"}
    .sideBannerItem
      %a{href: "/zozosuit/"}
        %img{src: "//img4.zozo.jp/pc/pb/img/banner/zozosuit_banner_20180215.jpg", alt: "ZOZOSUIT 3つの新しいサービスを体験しよう"}
  .section#sideTopicsList.sideTopics.sidenav
    %header.sidenavHeader
      %h2.sidenavH ショップニュース
    .sidenavBody
      %ol.sidenavBody
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "/search/?p_tpcsid=691976"}
            %span.feedBadge.badgeXs.badgeRank1 1
            %figure.feedFigure
              %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/786/691976.jpg", alt: "Ungrid(アングリッド)のトピックス｢【今回も盛りだくさん！】ZOZOTOWN限定￥1,000OFFクーポン！｣"}
            .feedContent
              .feedMeta.feedMetaPrimary.feedMetaStacked
                %span.feedMetaItem Ungrid
              %span.feedH【今回も盛りだくさん！】ZOZOTOWN限定￥1,000OFFクーポン！
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "/search/?p_tpcsid=691976"}
            %span.feedBadge.badgeXs.badgeRank2 2
            %figure.feedFigure
              %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/19/695189.jpg", alt: "ZOZOPHAGGE(ゾゾファッジ)のトピックス｢【KiiRA】18-19 Fall/Winter 予約会♪｣"}
            .feedContent
              .feedMeta.feedMetaPrimary.feedMetaStacked
                %span.feedMetaItem ZOZOPHAGGE
              %span.feedH【KiiRA】18-19 Fall/Winter 予約会♪
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "?c=gr&amp;gid=29864543&amp;p_tpcsid=634266&amp;rid=6342666"}
            %span.feedBadge.badgeXs.badgeRank3 3
            %figure.feedFigure
              %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/68/634266.jpg", alt: "SHIPS(シップス)のトピックス｢COOLMAX(R)装備の定番ピケジャケットが登場！｣"}
            .feedContent
              .feedMeta.feedMetaPrimary.feedMetaStacked
                %span.feedMetaItem SHIPS
              %span.feedH COOLMAX(R)装備の定番ピケジャケットが登場！
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "/search/?p_tpcsid=691976"}
            %span.feedBadge.badgeXs.badgeRank4 4
            %figure.feedFigure
              %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/786/691976.jpg", alt: "Ungrid(アングリッド)のトピックス｢【今回も盛りだくさん！】ZOZOTOWN限定￥1,000OFFクーポン！｣"}
            .feedContent
              .feedMeta.feedMetaPrimary.feedMetaStacked
                %span.feedMetaItem Ungrid
              %span.feedH【今回も盛りだくさん！】ZOZOTOWN限定￥1,000OFFクーポン！
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "/search/?p_tpcsid=691976"}
            %span.feedBadge.badgeXs.badgeRank5 5
            %figure.feedFigure
              %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/19/695189.jpg", alt: "ZOZOPHAGGE(ゾゾファッジ)のトピックス｢【KiiRA】18-19 Fall/Winter 予約会♪｣"}
            .feedContent
              .feedMeta.feedMetaPrimary.feedMetaStacked
                %span.feedMetaItem ZOZOPHAGGE
              %span.feedH【KiiRA】18-19 Fall/Winter 予約会♪
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "?c=gr&amp;gid=29864543&amp;p_tpcsid=634266&amp;rid=6342666"}
            %span.feedBadge.badgeXs.badgeRank6 6
            %figure.feedFigure
              %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/68/634266.jpg", alt: "SHIPS(シップス)のトピックス｢COOLMAX(R)装備の定番ピケジャケットが登場！｣"}
            .feedContent
              .feedMeta.feedMetaPrimary.feedMetaStacked
                %span.feedMetaItem SHIPS
              %span.feedH COOLMAX(R)装備の定番ピケジャケットが登場！
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "?c=gr&amp;gid=29864543&amp;p_tpcsid=634266&amp;rid=6342666"}
            %span.feedBadge.badgeXs.badgeRank7 7
            %figure.feedFigure
              %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/68/634266.jpg", alt: "SHIPS(シップス)のトピックス｢COOLMAX(R)装備の定番ピケジャケットが登場！｣"}
            .feedContent
              .feedMeta.feedMetaPrimary.feedMetaStacked
                %span.feedMetaItem SHIPS
              %span.feedH COOLMAX(R)装備の定番ピケジャケットが登場！
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "/search/?p_tpcsid=691976"}
            %span.feedBadge.badgeXs.badgeRank8 8
            %figure.feedFigure
              %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/786/691976.jpg", alt: "Ungrid(アングリッド)のトピックス｢【今回も盛りだくさん！】ZOZOTOWN限定￥1,000OFFクーポン！｣"}
            .feedContent
              .feedMeta.feedMetaPrimary.feedMetaStacked
                %span.feedMetaItem Ungrid
              %span.feedH【今回も盛りだくさん！】ZOZOTOWN限定￥1,000OFFクーポン！
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "/search/?p_tpcsid=691976"}
            %span.feedBadge.badgeXs.badgeRank9 9
            %figure.feedFigure
              %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/19/695189.jpg", alt: "ZOZOPHAGGE(ゾゾファッジ)のトピックス｢【KiiRA】18-19 Fall/Winter 予約会♪｣"}
            .feedContent
              .feedMeta.feedMetaPrimary.feedMetaStacked
                %span.feedMetaItem ZOZOPHAGGE
              %span.feedH【KiiRA】18-19 Fall/Winter 予約会♪
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "?c=gr&amp;gid=29864543&amp;p_tpcsid=634266&amp;rid=6342666"}
            %span.feedBadge.badgeXs.badgeRank10 10
            %figure.feedFigure
              %img.feedThumbnail{src: "http://img4.zozo.jp/shoptopics/68/634266.jpg", alt: "SHIPS(シップス)のトピックス｢COOLMAX(R)装備の定番ピケジャケットが登場！｣"}
            .feedContent
              .feedMeta.feedMetaPrimary.feedMetaStacked
                %span.feedMetaItem SHIPS
              %span.feedH COOLMAX(R)装備の定番ピケジャケットが登場！
      .sidenavMore
        %a.sidenavMoreLink{href: "/topics/"} ショップニュース一覧

  .section#sideFashionNewsList.sideTopics.sidenav
    %header.sidenavHeader
      %h2.sidenavH ファッションまとめ
    .sidenavBody
      %ol.sidenavList
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "/fashionnews/laurierpress/107146/"}
            %span.feedBadge.iconPickup
            %figure.feedFigure
              %span.feedThumbnail
                %img{src: "//img4.zozo.jp/fashionnews/107146/master_130_1.jpg", alt: "LAURIER PRESS（ローリエ プレス）のファッションまとめ「カジュアルガーリーの必須アイテム“バレエシューズ”で春コーデ♡」", width: "68", height: "68" }
            .feedContent
              %span.feedH カジュアルガーリーの必須アイテム“バレエシューズ”で春コーデ♡
              .feedMeta.feedMetaStacked
                %span.feedMetaItem LAURIER PRESS
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "/fashionnews/cbkmagazine/107101/"}
            %span.feedBadge.badgeRank1 1
            %figure.feedFigure
              %img.feedThumbnail{src: "//img4.zozo.jp/fashionnews/107101/master_130_1.jpg", alt: "#CBK magazine（カブキマガジン）のファッションまとめ「春のトレンドブラウスは手に入れた？あたたかくなった今、みんなの着こなしを再チェック♪」ルガーリーの必須アイテム“バレエシューズ”で春コーデ♡」", width: "68", height: "68" }
            .feedContent
              %span.feedH 春のトレンドブラウスは手に入れた？あたたかくなった今、みんなの着..
              .feedMeta.feedMetaStacked
                %span.feedMetaItem #CBK magazine
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "/fashionnews/spring/107141/"}
            %span.feedBadge.badgeRank2 2
            %figure.feedFigure
              %img.feedThumbnail{src: "//img4.zozo.jp/fashionnews/107141/master_130_1.jpg", alt: "SPRiNG（スプリング）のファッションまとめ「おしゃれ度がグッとアガる★「ヴィンテージライク」のチョイ足しテクを伝授！」", width: "68", height: "68" }
            .feedContent
              %span.feedH おしゃれ度がグッとアガる★「ヴィンテージライク」のチョイ足しテク
              .feedMeta.feedMetaStacked
                %span.feedMetaItem #CBK magazine
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "/fashionnews/laurierpress/107146/"}
            %span.feedBadge.badgeRank3 3
            %figure.feedFigure
              %img.feedThumbnail{src: "//img4.zozo.jp/fashionnews/107146/master_130_1.jpg", alt: "LAURIER PRESS（ローリエ プレス）のファッションまとめ「カジュアルガーリーの必須アイテム“バレエシューズ”で春コーデ♡」", width: "68", height: "68" }
            .feedContent
              %span.feedH カジュアルガーリーの必須アイテム“バレエシューズ”で春コーデ♡
              .feedMeta.feedMetaStacked
                %span.feedMetaItem LAURIER PRESS
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "/fashionnews/cbkmagazine/107101/"}
            %span.feedBadge.badgeRank4 4
            %figure.feedFigure
              %img.feedThumbnail{src: "//img4.zozo.jp/fashionnews/107101/master_130_1.jpg", alt: "#CBK magazine（カブキマガジン）のファッションまとめ「春のトレンドブラウスは手に入れた？あたたかくなった今、みんなの着こなしを再チェック♪」ルガーリーの必須アイテム“バレエシューズ”で春コーデ♡」", width: "68", height: "68" }
            .feedContent
              %span.feedH 春のトレンドブラウスは手に入れた？あたたかくなった今、みんなの着..
              .feedMeta.feedMetaStacked
                %span.feedMetaItem #CBK magazine
        %li.sidenavItem.feedMedia.feedMediaXs
          %a.feedLink{href: "/fashionnews/spring/107141/"}
            %span.feedBadge.badgeRank5 5
            %figure.feedFigure
              %img.feedThumbnail{src: "//img4.zozo.jp/fashionnews/107141/master_130_1.jpg", alt: "SPRiNG（スプリング）のファッションまとめ「おしゃれ度がグッとアガる★「ヴィンテージライク」のチョイ足しテクを伝授！」", width: "68", height: "68" }
            .feedContent
              %span.feedH おしゃれ度がグッとアガる★「ヴィンテージライク」のチョイ足しテク
              .feedMeta.feedMetaStacked
                %span.feedMetaItem #CBK magazine
      .loader
        /後ほど使用？ {data-widget: "ranking"}
      .sidenavMore
        %p.more
          %a{href: "/fashionnews/"} ファッションまとめ一覧
  .section#sidePickUpLink
    %ul.links
      %li
        %a{href: "#"}
          %span.icon.ico_giftWrapping
          %span.txt ギフトラッピングサービス
      %li
        %a{href: "#"}
          %span.icon.ico_priceDown
          %span.txt プライスダウンアイテム
      %li
        %a{href: "#"}
          %span.icon.ico_zozoused
          %span.txt ブランド服を買取中！
      %li
        %a{href: "#"}
          %span.icon.ico_zozocard
          %span.txt ZOZOCARD
      %li
        %a{href: "#"}
          %span.icon.ico_disney
          %span.txt Disney on ZOZOTOWN
  .section#sideMenuMale.menuBox
    .maleList
      %a{href: "#"}
        %h3.logo_designersBrand DESIGNERS BRAND ZONE
        %p.lead 国内外のラグジュアリーブランドが集結したデザイナーズゾーン！
    .maleList
      %a{href: "#"}
        %h3.logo_zozoused ZOZOUSED
        %p.lead
          国欲しいが必ず見つかる！
          %br ブランド古着が最大70％OFF！
    .maleList
      %a{href: "#"}
        %h3.logo_wear WEAR
        %p.lead 着こなしの検索や、コーデ投稿が出来るファッションアプリ登場
      %ul.app.foot.cf
        %li.ios
          %a{href: "#", target: "_blank"}
            %img{src: "/assets/AppStore.jpg", width: "100", height: "25", alt: "App Store"}
        %li.and
          %a{href: "#", target: "_blank"}
            %img{src: "/assets/googleplay.jpg", width: "100", height: "25", alt: "App Store"}
    %dl
      %dt 公式SNS
      %dd.cf
        .for_sns_ico.clearfix
          %p.snsTw_ico
            %a{href: "#", target: "_blank"}
              %img{src: "/assets/twitter.png", width: "42", height: "42", alt: "Twitter"}
          %p.snsFb_ico
            %a{href: "#", target: "_blank"}
              %img{src: "assets/fb.jpg", width: "42", height: "42", alt: "Facebook"}
          %p.snsIn_ico
            %a{href: "#", target: "_blank"}
              %img{src: "/assets/instagram.png", width: "42", height: "42", alt: "Instagram"}
    .maleList
      %a{href: "/line/"}
        %img{src: "/assets/LINE.png", width: "212", height: "34", alt: "【LINE×ZOZOTOWN】LINEから便利でお得な情報を配信"}
