#warraper
  #couponBanner
  #gblHeaderStuck
  #contentHeader
    #headerInner.inner.cf
      %ul#mainTab.cf
        %li#tabAll
          %a すべて
        %li#tabMEN
          %a メンズ
        %li#tabWOMEN
          %a レディース
        %li#tabKIDS
          %a キッズ
      #topNewsList.cf
        %ul
          %li
            %a ZOZOTOWNからのお知らせ｀｀｀
  #body
    %article.cf.inner
      #rightContent.cf
        #rightContentMain
        #rightContentSub
      #leftContent
    #gblFooter
      #fwrapper.inner
        #fInner
        #fCorporate
