#leftContent {
  width: 175px;
  float: left;
  margin-top: 8px;
  h2 {
    font-size: 18px;
  }
  #newItemList{
    border-top: none;
  }
  #leftContent, #menuShop {
    padding: 37px 0 12px;
  }
  .section {
    padding: 22px 0 12px;
  }
  .lists {
    font-size: 13px;
    li {
      margin-top: 10px;
      color: #555;
    }
    li a {
      color: #646464;
    }
  }
  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: $sect-color-bl1;
    text-decoration: none;
  }
  .menuCategory .lists {
    margin-top: 17px;
    border-top: $sect-color-g7 1px solid;
  }
  .menuCategory .lists li {
    line-height: 1.4;
    margin: 0;
  }
  .menuCategory .lists li a {
    border-bottom: solid 1px $sect-color-g7;
    padding: 10px 2px 8px 5px;
    display: block;
  }
  .more {
    padding-top: 18px;
    text-align: right;
  }
  #menuShop .lists li a, #menuBrand .lists li a {
    width: 146px;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .rank .icoS {
    width: 20px;
    height: 20px;
    line-height: 21px;
    font-size: 11px;
  }
  .rankingList .iconSet {
    position: relative;
    border: 1px solid $sect-color-g7;
    display: inline-block;
    margin: 0 5px 0 0;
  }
  .rank .iconSet1 {
    background: $sect-color-ye1;
    border-color: $sect-color-ye1;
    color: $sect-color-w1;
  }
  .rank .iconSet2 {
    background: $sect-color-g8;
    border-color: $sect-color-g8;
    color: $sect-color-w1;
  }
  .rank .iconSet3 {
    background: $sect-color-br1;
    border-color: $sect-color-br1;
    color: $sect-color-w1;
    }
  .iconSet {
    background: $sect-color-w1;
    border-radius: 50%;
    border: 1px solid $sect-color-g7;
    color: #8C8C8C;
    font-size: 15px;
    font-family: helvetica;
    height: 28px;
    line-height: 30px;
    text-align: center;
    width: 28px;
    zoom: 1;
  }
  img {
    border: 0 none;
    vertical-align: bottom;
  }
  .recruitBanner {
    margin-top: 10px;
  }
  .bannerPickupItem {
    margin-bottom: 15px;
  }
  .bannerRecruit {
    border-bottom: 1px solid $sect-color-g7;
  }
  .bannerRecriutLink {
    display: block;
    padding: 10px 0;
    color: #333 !important;
  }
  .bannerRecruitItem {
    border-top: 1px solid $sect-color-g7;
  }
  .bannerRecruitKind {
    font-size: 13px;
    line-height: 1.384615385;
    margin: 0;
  }
  .bannerRecruitScope {
    font-size: 10px;
    color: #888;
    margin-top: 3px;
    line-height: 1.5;
  }
  .bannerRecruitDeadline {
    margin-left: 5px;
    color: #fa1169;
  }
}
