#leftContent {
  width: 175px;
  height: 3540px;
  // height: 100vh;
  float: left;
  // border: 1px solid #444;
  margin-top: 8px;
  h2 {
    font-size: 18px;
  }
  #leftContent, #menuShop {
    padding: 37px 0 12px;
  }
  .section {
    padding: 22px 0 12px;
  }
  .lists {
    font-size: 13px;
    li {
      margin-top: 10px;
      color: #555;
    }
    li a {
      color: #646464;
    }
  }
  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: #007ebe;
    text-decoration: none;
  }
  .menuCategory .lists {
    margin-top: 17px;
    border-top: #ebebeb 1px solid;
  }
  .menuCategory .lists li {
    line-height: 1.4;
    margin: 0;
  }
  .menuCategory .lists li a {
    border-bottom: solid 1px #f2f2f2;
    padding: 10px 2px 8px 5px;
    display: block;
    // background: url(/common_2015/img/ico/ico_arrow_4.png) no-repeat scroll 160px 14px;
  }
  // #leftContent#menuShop.more #leftContent#menuBrand.more {
  //   margin: 9px 0 0 0;
  // }
  .more {
    padding-top: 18px;
    text-align: right;
  }
  #menuShop .lists li a, #menuBrand .lists li a {
    width: 146px;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .rank .icoS {
    width: 20px;
    height: 20px;
    line-height: 21px;
    font-size: 11px;
  }
  .rankingList .iconSet {
    position: relative;
    border: 1px solid #dedede;
    display: inline-block;
    margin: 0 5px 0 0;
  }
  .rank .iconSet1 {
    background: #d9b340;
    border-color: #d9b340;
    color: #fff;
  }
  .rank .iconSet2 {
    background: #6f7b83;
    border-color: #6f7b83;
    color: #fff;
  }
  .rank .iconSet3 {
    background: #a15326;
    border-color: #a15326;
    color: #fff;
    }
  .iconSet {
    background: #fff;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    color: #8C8C8C;
    font-size: 15px;
    font-family: helvetica;
    height: 28px;
    line-height: 30px;
    // padding: 0;
    text-align: center;
    width: 28px;
    zoom: 1;
  }
  img {
    border: 0 none;
    vertical-align: bottom;
  }
  .recruitBanner {
    margin-top: 10px;
  }
  .bannerPickupItem {
    margin-bottom: 15px;
  }
  .bannerRecruit {
    border-bottom: 1px solid #f2f2f2;
  }
  .bannerRecriutLink {
    display: block;
    padding: 10px 0;
    color: #333 !important;
  }
  .bannerRecruitItem {
    border-top: 1px solid #f2f2f2;
  }
  .bannerRecruitKind {
    font-size: 13px;
    line-height: 1.384615385;
    margin: 0;
  }
  // .bannerRecruitKind:hover{
  //   text-decoration: underline;
  // }
  .bannerRecruitScope {
    font-size: 10px;
    color: #888;
    margin-top: 3px;
    line-height: 1.5;
  }
  .bannerRecruitDeadline {
    margin-left: 5px;
    color: #fa1169;
  }
}
