
// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// =====================================
// top メイン
// =====================================
#contentHeader {
    width: 100%;
    background: #f0f0f0;
}

#headerInner {
}

#mainTab {
  float: left;
 & > li {
    float: left;
  }
  & >li a {
    line-height:3.4;
    color: #f0f0f0;
    padding: 13px 21px 10px;
  }
}

#topNewsList {
  float: right;
  margin: 7px 0 0;
  letter-spacing: 0.3px;
  padding: 5px 0 4px;
  color:$sect-color-g1;
  & > li a {
    color:$sect-color-g1;
  }
}
