// ===========================================
// index.html.haml
// ショップバナー
// ==========================================
#topBanner{
    height: 46px;
    margin: auto;
    width: 100%;
    overflow: hidden;
    background: #111;
      a{
      display: block;
      height: 46px;
      img {
        width: 100%;
      }
    }
  }


// ===========================================
// index.html.haml
// パンくずリスト
// ==========================================
  #breadCrumb {
    padding: 25px 0;
    margin: 0 auto;
    width: 980px;
    font-size: 13px;
    ul {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    li {
      background-position: right 0.1em;
      display: inline;
      font-size: 13px;
      line-height: 1.417;
      color: #808080;
      a {
        white-space: nowrap;
        color: #007ebe;
      }
    }
    img{
      margin-bottom: 2px;
    }
  }


// ===========================================
// index.html.haml
// メンコンテント
// ==========================================
  #goods {
      min-width: 980px;
      max-width: 1280px;
      margin: auto;
      padding: 0 0 25px 0;
    #goodMainArea {
        padding: 0 0 25px 0;
    }
}

// ===========================================
// _products_leftcontent.html.haml
// メンコンテント　// 左カラム
// ==========================================
#goodsLeft {
    width: 560px;
    float: left;
    z-index: 30;
}
#photoGallery {
    width: 560px;
    margin-bottom: 5px;
    #photoMain {
      width: 500px;
      height: 600px;
      margin: auto;
      text-align: center;
      overflow: hidden;
      img {
        display: block;
        height: 100%;
        margin: auto;
      }
    }// #photoMain @end
    #photoCaption {
      font-size: 10px;
      line-height: 1.2;
      text-align: center;
      height: auto;
      margin: 13px 10px 8px;
    }
}// #photoGallery @end


// 小さいギャラリー
#photoGallery {
  #photoThimb {
    margin: 0 0 0 8px;
    li {
        z-index: 1;
        vertical-align: top;
        display: inline-block;
        _display: inline;
        zoom: 1;
        font-size: 10px;
        text-align: left!important;
        width: 36px;
        margin: 15px 0 0 22px;
        padding: 0 0 19px 0;
      span {
        display: block;
        line-height: 1.1;
        margin: 5px 0 0;
        }
      .current {
        z-index: 2;
        div {
          width: 35px;
          span {
            display: block;
            background: #ffffff;
            font-size: 10px;
            line-height: 1.2;
            margin: 0;
            text-align: center;
          }
          img {
            border: solid 3px #878787;
            margin: -3px;
          }
        }
      }
    }
  }// #photoThimb @end
}// #photoGallery @end

// このアイテムを使ったコーディネート
#goodsLeft{
  .otherGoodsBlock {
    margin: 25px 0 0;
  }
}

#goods{
  h3{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 11px;
    }
  .otherGoodsBlock {
    padding: 30px 0px;
    h3 {
      margin: 0;
    }
    .pickupList {
      padding: 0 0px 0px;
      margin: 0 0 0 -20px;
    }
    li {
      height: 205px;
      width: 125px;
      float: left;
      margin: 14px 0 0 20px;
    }
    .listInner {
      margin: auto;
      text-align: left;
      width: 125px;
      word-break: break-all;
    }
    p.label {
      color: #6f6f6f;
      font-size: 12px;
      line-height: 1.2;
      margin: 6px 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    p.price {
      font-size: 15px;
      margin: 0;
    }
    span {
      font-size: 10px;
    }
  }// .otherGoodsBlock @end
}// #goods @end

#getRecommendRelation{
  width: 560px;
}

.price.discount {
    color: #E73656;
}
.tax,.off{
  font-size: 10px;
  color: #E73656;
}
.price.discount .tax {
    color: inherit;
}
.tax {
    font-size: 10px;
    margin: 0 0 0 2px;
    white-space: nowrap;
    vertical-align: 1px;
    color: #808080;
}


// 関連ショップニュース
.contentWrap {
    border-top: 1px solid #ebebeb;
  #goodsTopics {
      width: 280px;
      float: left;
      border-top: none;
      li, p.txt {
        color: #808080;
        margin: 6px 0 0;
        line-height: 1.4;
        font-size: 12px;
        word-break: break-all;
      }
      ul {
        padding: 0;
        margin: 0 0 0 -20px;
      }
    }// #goodsTopics @end
  .item_show_control {
    .tit .h {
      float: left;
      font-size: 18px;
    }
  .container {
      width: 130px;
      padding: 14px 0 0 0;
    }
  }// .item_show_control @end
  .img2{
    width: 125px;
    height: 150px;
    }
}// .contentWrap @end

// ===========================================
// _products_rightcontent.html.haml
// メンコンテント　右カラム
// ==========================================
#goods{
  padding: 0 0 2px 0;
  .infoBlock {
    h1 {
      font-size: 18px;
      margin: 14px 0 0 0;
    }
    #arriveScheduleListArea {
        display: none;
        width: 500px;
        background: #FFFFFF;
        box-shadow: 0 2px 8px rgba(0,0,0,0.5);
        left: -400px;
        z-index: 100;
      #arriveScheduleListInner {
        margin: 20px auto;
        width: 430px;
        #arriveScheduleListTitle {
          font-size: 18px;
          }
        #arriveScheduleList {
          margin: 10px 0;
          font-size: 13px;
          }
        }
      #arriveScheduleListClose {
        cursor: pointer;
        top: 10px;
        right: 10px;
      }
    }
  }
  #item-intro {
    border-bottom: 1px #dcdcdc solid;
    padding: 0 0 20px 0;
  }
}// #goods @end

#goodsRight {
    float: right;
    width: 395px;
    margin: 0;
  .innerRight{
      margin: 0;
      padding: 0;
    }
  #couponGoodsBox {
      padding: 0 0 10px;
    .txt {
      font-size: 13px;
      text-align: center;
      width: 100%;
      white-space: nowrap;
    }
    .txt ,.allCouponShop {
      color: #ffffff;
      display: block;
      padding: 8px 0 7px 6px;
      text-align: center;
    }
  }
  .cpColor_I3 {
    background-color: #07a595;
  }

  #nameList {
    li  a{
      color: #646464;
    }
  }
  #isLaterPay {
    margin-top: 10px;
    .priceWrapper .price {
      float: left;
      margin-top: 0;
    }
  }
  .price {
    margin: 9px 0 0 0;
    font-size: 34px;
    line-height: 1.12;
    padding: 0;
    font-family: helvetica;
    span {
      font-family: inherit;
      padding: 0;
      font-size: 12px;
      margin: 0 0 0 5px;
      font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Lucida Grande",Verdana,"ＭＳ Ｐゴシック",sans-serif;
    }
  }
  .tax2 {
      font-size: 10px;
      margin: 0 0 0 2px;
      white-space: nowrap;
      vertical-align: 1px;
      color: #808080;
  }
  #useCouponPrice {
    font-size: 12px;
    color: #E73656;
    padding-top: 5px;
    .bold {
      font-weight: bold;
    }
  }
  #omakeInfo {
    color: #0966d5;
    margin-top: 5px;
  }
  .privilegePoint {
    padding: 0 0 0 26px;
  }
  #privilege{
    p {
      color: #646464;
      font-size: 13px;
      margin: 5px 0 0 0;
    }
  }
  #userBookmark {
    margin: 11px 0 0;
    background: none;
    font-size: 13px;
    padding: 0 0 0 26px;
  }
}// 右カラム @end

//===========================================
// _products_rightcontent.html.haml /予約
// ==========================================
.infoBlock {

  .reserveBox {
    background: #f2f2f2;
    padding: 20px 0px 23px 17px;
    margin: 25px 0 0 0;
    border-radius: 2px;
    .tit {
      padding: 2px 0 0 31px;
      font-size: 18px;
    }
    #arriveScheduleViewArea {
      font-size: 15px;
      color: #646464;
      margin: 5px 0 0;
    }
    .attention {
      margin: 6px 0 0;
    }
    ul.info {
      font-size: 11px;
      margin: 5px 0 0 0;
    }
    .info {
      color: #808080;
    }
  }// 予約 @end
}// .infoBlock @end

//===========================================
// _products_rightcontent.html.haml /カート関連
// ==========================================
.cartBlock .blockMain {
    border-bottom: 1px solid #dcdcdc;
    dl {
      padding: 0 0 0 2px;
      margin: -1px 0 0;
      border-top: 1px solid #dcdcdc;
    }
    dt {
      display: table-cell;
      width: 63px;
      padding: 20px 0 10px 0;
      vertical-align: middle;
      // vertical-align: top;
    }
    dt {
      span {
        display: block;
        width: 63px;
      }
      span.txt {
        font-size: 10px;
        line-height: 1.25;
        margin: 5px 0 0;
      }
    }
    dl dd {
      display: table-cell;
      width: 330px;
      .cartbox .cart {
        width: 175px;
        text-align: left;
        padding: 15px 5px 14px 0;
        float: none;
        display: table-cell;
        }
      .cart{
        display: table-cell;
        // vertical-align: top;
      }
      .cartbox {
        display:table;
        .stock, p.zozosize {
          font-size: 10px;
          color: #808080;
          text-align: left;
          width: 102px;
          line-height: 1.6;
          word-wrap: break-word;
          word-break: keep-all;
        }
      }
      .cartbox{
        p {
          color: #2d2d2d;
          font-size: 12px;
          text-align: left;
          width: 114px;
          padding: 0;
          margin: 0 0 0 0;
          }
        .cart .stpck{
          p span{
            float: none;
            display: table-cell;
          }
        }

      .cart{
        span.btn {
          border: 1px #555 solid;
          background: #555;
          border-radius: 4px;
        }
        span.btn{
            width: 164px;
            margin: 3px 0 3px;
            text-align: left;
            display: inline-block;

            min-height: 32px;
            text-align: left;
            border-radius: 2px;
          input.reserveBtn {
              background-position: 36px -130px;
              color: #ffffff;
              background: #2d2d2d;
              background: url('#{$imageDir}cart.png') no-repeat 32px 10px;
            }
          }
        span input {
            width: 100%;
            height: 35px;
            padding: 3px 0 0px;
            border: 0;
            text-indent: 1.8em;
            display: inline-block;
            cursor: pointer;
            font-size: 15px;
            text-align: center;
          }
        }
      }
    }// dl dd @end
    dd{
      .stock{
        display: table-cell;
      }
      .bkmk{
        float: none;
        display: table-cell;
        span.btn input {
          background: url('#{$imageDir}heart.png')#e9e9e9 no-repeat center center;
          width: 36px;
          height: 38px;
          display: block;
          cursor: pointer;
          border: 1px solid #d1d1d1;
          border-radius: 50px;
        }
      }
    }// dd @end

}// カート関連　@end
div#goods .blockMain dl dd .cartbox .stock, div#goods .blockMain dl dd .cartbox .cart, div#goods .blockMain dl dd .cartbox .bkmk {
    // float: left;
    vertical-align: middle;
}
// ===========================================
// _products_rightcontent.html.haml / 詳細情報
// ==========================================
.tabContainer {
    margin: 30px 0 24px;
  .detailBlock{
      margin-top: 30px!important;
  }
  .tabContainer #swConditionTab {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 1px solid #dcdcdc;
    margin: -1px 0;
    padding: 5px 0 0;
    //
    z-index: 21;
  }
  .current {
    padding: 1px 0 0;
  }
  .current >a {
    background: #ffffff none repeat scroll 0 0;
    border-color: #dcdcdc #dcdcdc #ffffff;
    border-image: none;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 1px;
    color: #2d2d2d;
    padding: 15px 0 8px;
    text-align: center;
    width: 122px;
    cursor: default;
  }
  .tab > ul li a {
    border-radius: 4px 4px 0 0;
    color: #007ebe;
    display: block;
    font-size: 15px;
    padding: 12px 0 7px;
    text-align: center;
    width: 124px;
  }
  .tab > ul li {
    border-bottom: medium none;
    color: #2d2d2d;
    float: left;
    font-size: 15px;
    margin: 0 0 -1px;
    padding: 5px 0 0;

  }
  .tabInner,.current {
      display: block;
      padding: 25px 0 0;
  }
  .contbox {
    color: #808080;
    font-size: 13px;
    // padding-bottom: 30px;
  }
  .infoBlock {
    padding: 0 0 2px 0;
  }
  .infoBox > p{
    color: #808080;
  }
  #itemDetailInfo {
    background: #f0f0f0 none repeat scroll 0 0;
    margin-top: 20px;
    padding: 15px 15px 13px;
  }
  .contBox{
    dl {
      margin-top: -10px;
    }
    dt {
      clear: both;
      width: 100px;
      float: left;
      padding-top: 10px;
    }
    dd {
      padding-left: 111px;
      padding-top: 10px;
    }
  }
  .blockBottom p.detail_link {
    margin: 7px 0 -17px;
    margin: 7px 0 6px 0;
    font-size: 13px;
    // color: #6f6f6f;
    color: #007ebe;
  }
}// 詳細情報　@end

// ===========================================
// _products_rightcontent.html.haml アイコン
// ==========================================
#snsBtn {
    margin: 25px 0 0 0;
    padding: 20px 0;
    border-top: 1px solid #ebebeb;
  #social {
    >li {
      float: left;
      padding: 0 20px 0 0;
    }
  }
  .giveMeMail,.twitter,.facebook,{
    width: 38px;
    height: 30px;
  }
  .google{
    width: 47px;
    height: 30px;
    }
  }
  .txt {
    padding: 0 0 10px 0;
  }
  .brand {
    text-align: center;
    color: #007ebe;
    width: 240px;
    padding: 5px 10px;
    border: 1px solid #2490d0;
    border-radius: 2px;
    a {
      display: block;
      color: #007ebe;
    }
  }


// ===========================================
// _products_undercontent_moreviewstyle.html.haml
// ==========================================
// メイン下側
// 「このアイテムを見ている人は、こんなアイテムも見ています」/「このアイテムを見ている人におすすめ」/
.item_show_control.moreViewStyle {
  margin-bottom: 15px;
  ul {
    margin: 0 0 0 -46px;
    li {
      height: 215px;
      width: 125px;
      float: left;
      margin: 0 0 0 46px;

      p.shopname {
        margin: 6px 0 0 0;
        font-size: 12px;
        line-height: 1.2;
        color: #808080;
        width: 125px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      p.price {
        font-size: 15px;
        margin-bottom: 20px;
        span.tax2{
          font-size: 10px;
          color: #808080;
          margin: 0 0 0 2px;
          white-space: nowrap;
          vertical-align: 1px;
        }
      }
    }
  }
  // もっと見る　のトリガー部分
  p.trigger {
    text-align: center;
    width: 150px;
    margin-bottom: -20px;
    margin-left: 420px;
    // position: absolute;
    a {
      text-align: center;
      font-size: 13px;
      color: #646464;
      margin-top: 0 auto;
      padding: 8px 10px 8px 0;
      display: block;
      background: rgba(0, 0, 0, 0) url('#{$imageDir}arrow_down.png') no-repeat 117px 8px;
    }
  }

  // -# ニット/セーターランキング一覧
  .moreLink {
    text-align: right;
    margin: 8px 0 -30px;
    font-size: 12px;
    a {
      color: #007ebe;
      text-decoration: none;
    }
  }
}
.item_show_control{
  .container {
    //
    padding: 14px 0 0 0;
    .data {
      display: block;
      overflow: hidden;
      margin: auto;
      //
      }
      .nextData {
      padding-bottom: 33px;
      }
    }
    ul li {
    float: left;
    }
    .tit .h {
      float: left;
      font-size: 18px;
    }
}// .item_show_control @end

// 最近チェックしたアイテム ----------
#history_item {
  .container .data {
    width: 900px;
    height: 84px;
    margin: 0 0 0 40px;
  }
  ul li {
    width: 83px;
    margin-right: 10px;
  }
}

// 関連キーワード ---------
.keywordBlock{
  margin: 35px 0 0 0;
  clear: both;
  line-height: 1.5;
  font-size: 13px;
  li {
  white-space: nowrap;
  }
  h3{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 11px;
  }
}
.tagLink {
    margin: 0 0 0 -10px;
    li {
      float: left;
      margin: 12px 0 0 10px;
      a {
        padding: 5px 8px 3px;
        border: 1px solid #e6e6e6;
        display: block;
        white-space: nowrap;
        border-radius: 2px;
        color: #808080;
        background: #f5f5f5;
      }
  }
}

// 他のショップをみる
#other_shop_item {
    margin: 35px 0 0 0;
    ul {
      margin: 10px 0 0 0;
        li {
          width: 230px;
          float: left;
          font-size: 13px;
          padding: 0 0 5px 0;
          margin-top: 5px;
          margin-right: 15px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          word-break: break-all;
          a {
            color: #646464;
          }
      }
    }
    .tit .h {
      float: left;
      font-size: 18px;
    }
  }

// ZOZOTOWN（ゾゾタウン）のご紹介
.sectionHeader {
    border-bottom: none;
  h2 {
   padding: 0;
  }
}
#about {
  .txt {
    margin: 10px 0 0 0;
    p {
    color: #808080;
    }
  }
}



// 共通　---------------------
.err, .error, .att, .noStock, .new, .sale {
    color: #E73656 !important;
}
.section {
    padding: 30px 0;
    border-top: 1px solid #ebebeb;
}
.sectionHeader{
    h1{
      font-size: 18px;
      padding: 0 0 6px 0;
    }
    h2 {
      font-size: 18px;
      padding: 0 0 6px 0;
    }
}
