$sect-color-w1: #fff;

$sect-color-g1: #808080;
$sect-color-g2: #999;
$sect-color-g3: #DDD;
$sect-color-g4: #AAA;
$sect-color-g5: #e5e5e5;
$sect-color-g6: #6f6f6f;
$sect-color-g7: #ebebeb;
$sect-color-g8: #6f7b83;


$sect-color-bk1: #323232;
$sect-color-bk2: #2d2d2d;

$sect-color-b1: #38AEF0;
$sect-color-b2: #253141;
$sect-color-b3: #2f3e51;

$sect-color-red1: #8c1c33;
$sect-color-red2: #E73656;


// 画像取得
$imageDir:'./';

$sect-color-bl1: #007ebe;

$sect-color-ye1: #d9b340;

$sect-color-br1: #a15326;
