$sect-color-w: #fff;

$sect-color-g1: #808080;
$sect-color-g2: #999;
$sect-color-g3: #DDD;
$sect-color-g4: #AAA;


$sect-color-bk1: #323232;

$sect-color-b1: #38AEF0;
$sect-color-b2: #253141;
$sect-color-b3: #2f3e51;

$sect-color-red1: #8c1c33;

// 画像取得
$imageDir:'./';
