%section#newItemList.menuBox.section
  %h2 探す
  %ul.lists
    %li
      %a{href: "/brand/?p_no=1"} ブランドから探す
    %li
      %a{href: "/shop/?p_no=1"} ショップから探す
    %li
      %a{href: "/ranking/all-sales.html"} ランキングから探す
    %li
      %a{href: "/coordinate/"} コーディネートから探す
    %li
      %a{href: "/detail/"} こだわり条件から探す
%section#categoryList.menuBox.section.menuCategory
  %h2 カテゴリー
  %ul.lists
    %li
      %a{href: "/category/tops/"} トップス
    %li
      %a{href: "/category/jacket-outerwear/"} ジャケット/アウター
    %li
      %a{href: "/category/pants/"} パンツ
    %li
      %a{href: "/category/allinone-salopette/"} オールインワン
    %li
      %a{href: "/category/skirt/"} スカート
    %li
      %a{href: "/category/onepiece/"} ワンピース
    %li
      %a{href: "/category/suit/"} スーツ/ネクタイ
    %li
      %a{href: "/category/bag/"} バッグ
    %li
      %a{href: "/category/shoes/"} シューズ
    %li
      %a{href: "/category/fashion-accessories/"} ファッション雑貨
    %li
      %a{href: "/category/wallet-accessory/"} 財布/小物
    %li
      %a{href: "/category/wrist-watch/"} 時計
    %li
      %a{href: "/category/hair-accessory/"} ヘアアクセサリー
    %li
      %a{href: "/category/accessory/"} アクセサリー
    %li
      %a{href: "/category/underwear/"} アンダーウェア
    %li
      %a{href: "/category/leg-wear/"} レッグウェア
    %li
      %a{href: "/category/hat/"} 帽子
    %li
      %a{href: "/category/interior/"} インテリア
    %li
      %a{href: "/category/tableware-kitchenware/"} 食器/キッチン
    %li
      %a{href: "/category/zakka-hobby-sports/"} 雑貨/ホビー/スポーツ
    %li
      %a{href: "/category/cosmetics-perfume/"} コスメ/香水
    %li
      %a{href: "/category/music-books/"} 音楽/本・雑誌
    %li
      %a{href: "/category/swimwear-kimono-yukata/"} 水着/着物・浴衣
    %li
      %a{href: "/category/maternity-baby/"} マタニティ/ベビー
    %li
      %a{href: "/category/others/"} その他
  %p.more
    %a{href: "/category/"} カテゴリ一覧
%section#myFavorite.menuBox.section.menuCategory
  %h2 お気に入り
  %ul.lists
    %li.item
      %a{href: "/_member/favoritelist/"} アイテム
    %li#sideFavoriteBrand
      %a{href: "/_member/favoritelist/default_brand.html"} ブランド
    %li#sideFavoriteShop
      %a{href: "/_member/favoritelist/default_shop.html"} ショップ
%section#menuBrand.menuBox.section
  %h2 ブランド
  %ol.lists.rankingList
    %li.clearfix.rank
      %span.iconSet.iconSet1.icoS 1
      %a{href: "/brand/urbanresearch/", title: "BRAND URBAN RESEARCH"} URBAN RESEARCH
    %li.clearfix.rank
      %span.iconSet.iconSet2.icoS 2
      %a{href: "/brand/urbanresearchdoors/", title: "BRAND URBAN RESEARCH DOORS"} URBAN RESEARCH DOORS
    %li.clearfix.rank
      %span.iconSet.iconSet3.icoS 3
      %a{href: "/brand/sonnylabel/", title: "BRAND URBAN RESEARCH Sonny Label"} URBAN RESEARCH Sonny Label
    %li.clearfix.rank
      %span.iconSet.iconSet4.icoS 4
      %a{href: "/brand/nanouniverse/", title: "BRAND nano・universe"} nano・universe
    %li.clearfix.rank
      %span.iconSet.iconSet5.icoS 5
      %a{href: "/brand/champion/", title: "BRAND Champion"} Champion
    %li.clearfix.rank
      %span.iconSet.iconSet6.icoS 6
      %a{href: "/brand/greenlabelrelaxing/", title: "BRAND green label relaxing"} green label relaxing
    %li.clearfix.rank
      %span.iconSet.iconSet7.icoS 7
      %a{href: "/brand/kbf/", title: "BRAND KBF"} KBF
    %li.clearfix.rank
      %span.iconSet.iconSet8.icoS 8
      %a{href: "/brand/beautyyouthunitedarrows/", title: "BRAND BEAUTY&amp;YOUTH UNITED ARROWS"} BEAUTY&amp;YOUTH UNITED ARROWS
    %li.clearfix.rank
      %span.iconSet.iconSet9.icoS 9
      %a{href: "/brand/freaksstore/", title: "BRAND FREAK'S STORE"} FREAK'S STORE
    %li.clearfix.rank
      %span.iconSet.iconSet10.icoS 10
      %a{href: "/brand/journalstandard/", title: "BRAND JOURNAL STANDARD"} JOURNAL STANDARD
    %li.clearfix.rank
      %span.iconSet.iconSet11.icoS 11
      %a{href: "/brand/nike/", title: "BRAND NIKE"} NIKE
    %li.clearfix.rank
      %span.iconSet.iconSet12.icoS 12
      %a{href: "/brand/ships/", title: "BRAND SHIPS"} SHIPS
    %li.clearfix.rank
      %span.iconSet.iconSet13.icoS 13
      %a{href: "/brand/adidas/", title: "BRAND adidas"} adidas
    %li.clearfix.rank
      %span.iconSet.iconSet14.icoS 14
      %a{href: "/brand/urbanresearchrossomen/", title: "BRAND URBAN RESEARCH ROSSO MEN"} URBAN RESEARCH ROSSO MEN
    %li.clearfix.rank
      %span.iconSet.iconSet15.icoS 15
      %a{href: "/brand/ienaslobe/", title: "BRAND SLOBE IENA"} SLOBE IENA
    %li.clearfix.rank
      %span.iconSet.iconSet16.icoS 16
      %a{href: "/brand/unitedarrows/", title: "BRAND UNITED ARROWS"} UNITED ARROWS
    %li.clearfix.rank
      %span.iconSet.iconSet17.icoS 17
      %a{href: "/brand/coen/", title: "BRAND coen"} coen
    %li.clearfix.rank
      %span.iconSet.iconSet18.icoS 18
      %a{href: "/brand/poloralphlauren/", title: "BRAND POLO RALPH LAUREN"} POLO RALPH LAUREN
    %li.clearfix.rank
      %span.iconSet.iconSet19.icoS 19
      %a{href: "/brand/adidasoriginals/", title: "BRAND adidas originals"} adidas originals
    %li.clearfix.rank
      %span.iconSet.iconSet20.icoS 20
      %a{href: "/brand/abathingape/", title: "BRAND A BATHING APE"} A BATHING APE
  %p.more
    %a{href: "/brand/"} ブランド一覧
%section#menuShop.menuBox.section
  %h2 ショップ
  %ol.lists.rankingList
    %li.clearfix.rank
      %span.iconSet.iconSet1.icoS 1
      %a{href: "/shop/urbanresearch/"} URBAN RESEARCH
    %li.clearfix.rank
      %span.iconSet.iconSet2.icoS 2
      %a{href: "/shop/urbanresearch/"} URBAN RESEARCH DOORS
    %li.clearfix.rank
      %span.iconSet.iconSet3.icoS 3
      %a{href: "/shop/beautyandyouthunitedarrows/"} BEAUTY&YOUTH UNITED ARROWS
    %li.clearfix.rank
      %span.iconSet.iconSet4.icoS 4
      %a{href: "/brand/nanouniverse/", title: "BRAND nano・universe"} nano・universe
    %li.clearfix.rank
      %span.iconSet.iconSet5.icoS 5
      %a{href: "/shop/greenlabel/"} green label relaxing
    %li.clearfix.rank
      %span.iconSet.iconSet6.icoS 6
      %a{href: "/shop/journalstandard/"} JOURNAL STANDARD
    %li.clearfix.rank
      %span.iconSet.iconSet7.icoS 7
      %a{href: "/shop/kbf/"} KBF
    %li.clearfix.rank
      %span.iconSet.iconSet8.icoS 8
      %a{href: "/shop/beams/"} BEAMS MEN
    %li.clearfix.rank
      %span.iconSet.iconSet9.icoS 9
      %a{href: "/shop/freaksstore/"} FREAK'S STORE
    %li.clearfix.rank
      %span.iconSet.iconSet10.icoS 10
      %a{href: "/shop/iena/"} IENA
    %li.clearfix.rank
      %span.iconSet.iconSet11.icoS 11
      %a{href: "/shop/rosso/"} URBAN RESEARCH ROSSO WOMEN
    %li.clearfix.rank
      %span.iconSet.iconSet12.icoS 12
      %a{href: "/shop/unitedarrows/"} UNITED ARROWS
    %li.clearfix.rank
      %span.iconSet.iconSet13.icoS 13
      %a{href: "/shop/beamswomen/"} BEAMS WOMEN
    %li.clearfix.rank
      %span.iconSet.iconSet14.icoS 14
      %a{href: "/shop/urbanresearchrosso/"} URBAN RESEARCH ROSSO MEN
    %li.clearfix.rank
      %span.iconSet.iconSet15.icoS 15
      %a{href: "/shop/coen/"} coen
    %li.clearfix.rank
      %span.iconSet.iconSet16.icoS 16
      %a{href: "/shop/abc-mart/"} ABC-MART
    %li.clearfix.rank
      %span.iconSet.iconSet17.icoS 17
      %a{href: "/shop/ships/"} SHIPS
    %li.clearfix.rank
      %span.iconSet.iconSet18.icoS 18
      %a{href: "/shop/americanragcie/"} AMERICAN RAG CIE
    %li.clearfix.rank
      %span.iconSet.iconSet19.icoS 19
      %a{href: "/shop/adidas/"} adidas
    %li.clearfix.rank
      %span.iconSet.iconSet20.icoS 20
      %a{href: "/shop/bapeland/"} A BATHING APE

  %p.more
    %a{href: "/shop/"} ショップ一覧
%section#menuSite.menuBox.section
  %h2 モール
  %ul.lists
    %li
      %a{href: "/zozoused/"} ZOZOUSED
.menuBanner.menuBox.section
  %ul
    %li
      %a{href: "#"}
      %img{alt: "つめて送るだけ ZOZOTOWNに洋服を売ってみませんか？ かんたん買取サービス", height: "88", src: "//img4.zozo.jp/fix/town/default/pc_banner_used_20170907.png", width: "174"}
%section.menuBox.section
  %h2 採用情報
  .recruitBanner
    %ul.bannerPickup
      %li.bannerPickupItem
        %a.bannerPickupLink{href: "#", target: "_blank"}
        %img{alt: "札幌･仙台･名古屋･大阪･福岡 ZOZO販売員 出張採用 在宅ワーク講習会開催", height: "88", src: "//img4.zozo.jp/fix/town/default/pc_banner_recruit_20180314_st.png", width: "174"}
    %ul.bannerRecruit
      %li.bannerRecruitItem.bannerRecruitNew
        %a.bannerRecriutLink{href: "#", target: "_blank"}
          %p.bannerRecruitKind WEBマーケター中途採用
          %p.bannerRecruitScope
            ZOZOTOWN
            %span.bannerRecruitDeadline 4/9 締切
      %li.bannerRecruitItem
        %a.bannerRecriutLink{href: "#", target: "_blank"}
          %p.bannerRecruitKind エンジニア・アナリスト中途採用
          %p.bannerRecruitScope ZOZOTOWN・WEAR
      %li.bannerRecruitItem
        %a.bannerRecriutLink{href: "#", target: "_blank"}
          %p.bannerRecruitKind 2019年度 クラウンジュエル新卒採用
          %p.bannerRecruitScope ZOZOUSED
