#goodsLeft
  #innerLeft
    #photoGallery
      #photoMain.hasZoom
        =image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_500.jpg"
      %p#photoCaption 身長165cm / Mサイズ着用
      -# 小さいギャラリー
      %ul#photoThimb
        %li#did_52979605.current
          #div_0
            %span#goodsdiv_0
              =image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_35.jpg"
            %p ネイビー

            %li#did_52979605.current
              #div_0
                %span#goodsdiv_0
                  =image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_35.jpg"
                %p ネイビー

            %li#did_52979605.current
              #div_0
                %span#goodsdiv_0
                  =image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_35.jpg"
                %p ネイビー


              %li#did_52979605.current
                #div_0
                  %span#goodsdiv_0
                    =image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_35.jpg"
                  %p ネイビー

              %li#did_52979605.current
                #div_0
                  %span#goodsdiv_0
                    =image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_35.jpg"
                  %p ネイビー

                  %li#did_52979605.current
                    #div_0
                      %span#goodsdiv_0
                        =image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_35.jpg"
                      %p ネイビー

                  %li#did_52979605.current
                    #div_0
                      %span#goodsdiv_0
                        =image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_35.jpg"
                      %p ネイビー


                    %li#did_52979605.current
                      #div_0
                        %span#goodsdiv_0
                          =image_tag "http://img5.zozo.jp/goodsimages/387/30647387/30647387B_16_D_35.jpg"
                        %p ネイビー
      -# 小さいギャラリー　@end

      -# このアイテムを使ったコーディネート
      #getRecommendRelation.otherGoodsBlock.pickupBlock.loadApiData.section
        %h3 関連アイテム
        %ul.pickupList.cf
          -# コーディネート一覧
          %li
            .listInner
              %a
                %img.cf
                  =image_tag "http://img5.zozo.jp/goodsimages/917/29122917/29122917_175_D_125.jpg"
                  %p.label N.（N. Natural Beauty Basic）
                  %p.price.discount ¥5,940
                  %span.tax 税込
                  %span.off 20%OFF

          %li
            .listInner
              %a
                %img.cf
                  =image_tag "http://img5.zozo.jp/goodsimages/917/29122917/29122917_175_D_125.jpg"
                  %p.label N.（N. Natural Beauty Basic）
                  %p.price.discount ¥5,940
                  %span.tax 税込
                  %span.off 20%OFF

          %li
            .listInner
              %a
                %img.cf
                  =image_tag "http://img5.zozo.jp/goodsimages/917/29122917/29122917_175_D_125.jpg"
                  %p.label N.（N. Natural Beauty Basic）
                  %p.price.discount ¥5,940
                  %span.tax 税込
                  %span.off 20%OFF

          %li
            .listInner
              %a
                %img.cf
                  =image_tag "http://img5.zozo.jp/goodsimages/917/29122917/29122917_175_D_125.jpg"
                  %p.label N.（N. Natural Beauty Basic）
                  %p.price.discount ¥5,940
                  %span.tax 税込
                  %span.off 20%OFF

          %li
            .listInner
              %a
                %img.cf
                  =image_tag "http://img5.zozo.jp/goodsimages/917/29122917/29122917_175_D_125.jpg"
                  %p.label N.（N. Natural Beauty Basic）
                  %p.price.discount ¥5,940
                  %span.tax 税込
                  %span.off 20%OFF

          %li
            .listInner
              %a
                %img.cf
                  =image_tag "http://img5.zozo.jp/goodsimages/917/29122917/29122917_175_D_125.jpg"
                  %p.label N.（N. Natural Beauty Basic）
                  %p.price.discount ¥5,940
                  %span.tax 税込
                  %span.off 20%OFF
          %li
            .listInner
              %a
                %img.cf
                  =image_tag "http://img5.zozo.jp/goodsimages/917/29122917/29122917_175_D_125.jpg"
                  %p.label N.（N. Natural Beauty Basic）
                  %p.price.discount ¥5,940
                  %span.tax 税込
                  %span.off 20%OFF

          %li
            .listInner
              %a
                %img.cf
                  =image_tag "http://img5.zozo.jp/goodsimages/917/29122917/29122917_175_D_125.jpg"
                  %p.label N.（N. Natural Beauty Basic）
                  %p.price.discount ¥5,940
                  %span.tax 税込
                  %span.off 20%OFF
          -# コーディネート一覧　@end
      -# 関連ショップニュース
      .clearfix.contentWrap.cf
        #goodsTopics.item_show_control.loadApiData.section
          .tit.cf
            %p.h 関連ショップニュース
          .container
            %ul.cf
              %li
                %a
                  %p.img2
                    =image_tag "http://img4.zozo.jp/shoptopics/874/692897.jpg",height:"150px",weight:"125"
                  %p.txt 【 N. 】全品対象￥2000クーポン！！本日...
