#gblFooter.footer
  .fWrapper
    #fInner.clearfix
      #fService.fBox
        %ul
          %li
            %a{href: "/?p_no=1", target: "_self"} ZOZOTOWN
          %li
            %a{href: "/zozoused/", target: "_self"} ZOZOUSED
          %li
            %a{href: "#", target: "_self"} WEAR(ウェア)
      #fContents.fBox
        %ul
          %li
            %a{href: "/category/?p_no=1"} カテゴリ一覧
          %li
            %a{href: "/brand/?p_no=1"} ブランド一覧
          %li
            %a{href: "/shop/?p_no=1"} ショップ一覧
          %li
            %a{href: "/ranking/all-sales.html"} ランキング一覧
          %li
            %a{href: "/detail/?p_no=1"} こだわり検索
        %ul
          %li
            %a{href: "/topics/?p_no=1"} ショップニュース一覧
          %li
            %a{href: "/coordinate/"} コーディネート一覧
          %li
            %a{href: "/fashionnews/?p_no=1"} ァッションまとめ一覧
          %li
            %a{href: "/keyword/"} 注目キーワード一覧
      #fMember.fBox
        %ul
          %li
            %a{href: "#"} ブランド古着買取サービス
          %li
            %a{href: "/_card/zozocard.html?p_no=1", target: "_self"} ZOZOCARD
          %li
            %a{href: "#", target: "_self"} メールマガジン購読
          %li
            %a{href: "/giftwrapping/?p_no=1", target: "_self"} ギフトラッピングサービス
      #fHelp.fBox.cf
        .clearfix
          %ul
            %li
              %a{href: "/_help/default.html?p_no=1", target: "_self"} ヘルプ
            %li
              %a{href: "/welcome/default.html?p_no=1", target: "_self"} 初めての方へ
            %li
              %a{href: "/sitemap.html", target: "_self"} サイトマップ
      #fMobile.fBox.cf
        %ul
          %li
            %a{href: "#", target: "_blank"} iPhoneアプリ
          %li
            %a{href: "#", target: "_blank"} Androidアプリ
          %li.ico.ico_tw
            %i.fab.fa-twitter
            %a{href: "#", target: "_blank"} Twitter
          %li.ico.ico_fb
            %i.fab.fa-facebook-f
            %a{href: "#", target: "_blank"} Facebook
          %li.ico.ico_in
            %i.fab.fa-instagram
            %a{href: "#", target: "_blank"} Instagram
    #fCoporate.clearfix
      %ul.clearfix
        %li
          %a.ico_blank{href: "#", target: "_blank"} コーポレートサイト
          %i.fas.fa-external-link-alt
        %li
          %a.ico_blank{href: "#", target: "_blank"} 会社概要
          %i.fas.fa-external-link-alt
        %li
          %a.ico_blank{href: "#", target: "_blank"} IR情報
          %i.fas.fa-external-link-alt
        %li
          %a.ico_blank{href: "#",  target: "_blank"} 採用情報
          %i.fas.fa-external-link-alt
        %li
          %a.ico_blank{href: "/info/kiyaku.html?p_no=1", target: "_blank"} 利用規約
        %li
          %a{href: "/info/pp.html?p_no=1"} 個人情報保護方針
        %li
          %a{href: "/_newhelp/help_resort_torihikihou.html?p_no=1"} 特定商取引法に基づく表示・古物営業法に基づく表示
      #fCopyRight
        %p#copy COPYRIGHT © START TODAY CO.,LTD. ALL RIGHTS RESERVED.
        %p サイト内の文章、画像などの著作物は株式会社スタートトゥデイに属します。複製、無断転載を禁止します。
